# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock


# Logs
*.log

# Project settings (local)
*.xccheckout
*.moved-aside
*.xcuserstate

# IDE
.idea/
.vscode/

# Temporary files
*.tmp
*.swp
*~
